<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="wordstudy.dao.LearnDao">
  <resultMap type="Learn" id="LearnMap">
    <id     column="MENO"    property="meno"/>
    <id     column="WORD"    property="word"/>
    <id     column="MEAN"    property="mean"/>
    <result column="A_THUM"    property="assothumPath"/>
    <result column="HINT"    property="hint"/>    
    <result column="Asso"  property="asso"/>
  </resultMap>
 
  <select id="hintList" resultMap="LearnMap">
    select A.hint,A.meno,A.A_THUM,A.Asso,M.MEAN from assos A, means M order by rand() limit 10;
  </select>
  
  <select id="correctMean" parameterType="int" resultMap="LearnMap">
    select word,mean from means where meno=#{meno};
  </select>
  
	<select id="selectList" resultMap="LearnMap">
    select mean from means 
    where word not in(select WORD from MEANS where MENO=#{meno}) 
    order by rand() 
    limit 3;  
  </select>
  
  <select id="mywordhintList" parameterType="int" resultMap="LearnMap">
    select hint,meno,A_THUM,Asso from assos A, my_word M where M.mno=#{mno} and M.ano=A.ano order by rand() limit 10;
  </select>
  
  <select id="learnmeanResult" parameterType="String" resultMap="LearnMap">
    select word from means where mean=#{mean};
  </select>
  
    <select id="existInAll" parameterType="String" resultType="Int">
    select count(*) 
    from words
    where word=#{word};
  </select>
  
</mapper>












