<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="wordstudy.dao.WordDao">
  <sql id="select01">
    select word
    from Words
  </sql>

  <resultMap type="WordTable" id="WordMap">
    <id     column="ANO"    property="no"/>
    <result column="Mean"  property="mean"/>
    <result column="Asso"  property="asso"/>
    <result column="A_phot"    property="aphoto"/>
    <result column="HINT"    property="hint"/>
  </resultMap>
  
  <insert id="insert" parameterType="WordTable">
    insert into assos(MENO, MNO, ASSO, A_PHOT, HINT, DATE, BEST, LIKES, HATES, FAVOR) 
    values((select MENO from MEANS where mean=#{mean}), 10, #{asso}, #{aphoto}, #{hint}, now(), 'N', 0, 0, 'N');    
  
  </insert>
<!--   
  <update id="update" parameterType="Member">
    update MEMBERS set
      NIC=#{nick},
      EMAIL=#{email},
      PW=#{password},
      PHOT=#{photo}
    where MNO=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from MEMBERS
    where MNO=#{no}
  </delete>

  <select id="selectList" resultMap="MemberMap">
    <include refid="select01"/>
    order by NIC asc
    limit #{startIndex}, #{length}
  </select>
  
  <select id="selectOne" parameterType="map" resultMap="MemberMap">
    <include refid="select01"/>
      where 
    <if test="no != null">
      MNO=#{no}
    </if>
    <if test="email != null">
      EMAIL=#{email}
    </if>
  </select>
  
  <select id="isMember" parameterType="map" resultType="int">
    select count(*) 
    from MEMBERS
    where EMAIL=#{email} and PW=#{password}
  </select>
  
  <select id="countAll" resultType="int">
    select count(*) 
    from MEMBERS
  </select> --> 
</mapper>












